/**
 * Breakpoints
 */
 $breakpoints: (
         xs: 479px,
         sm: 767px,
         smm: 768px,
         md: 991px,
         mdd: 992px,
         lg: 1199px,
         xl: 1279px,
         xxl: 1919px,
);
